p {
    font-size: 48px;
    font-weight: bold;
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
}
H1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(224, 175, 224);
}
input {
     border: 2.5px solid rgb(149, 0, 255);
     border-radius: 10px;
}
button {
    border-radius: 10px;
    border: 2.5px solid rgb(149, 0, 255);
    color: darkviolet;
    background-color: white;
}